<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-br">
<head>
	<partial name="_Header.cshtml" />
	
	<title>@(ViewBag.Title != null ? ViewBag.Title + " - Gerenciador de Documentos" : "Gerenciador de Documentos")</title>

	@RenderSection("Styles", false)
</head>
<body>
	<partial name="_NavBar.cshtml" />

	<div id="page-wrapper">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">@(ViewBag.Title ?? "Gerenciador de Documentos")</h1>
			</div>
		</div>

		@RenderBody()
	</div>

	<partial name="_Footer.cshtml" />

	@RenderSection("Scripts", false)
</body>
</html>
