<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-br">
<head>
	<partial name="_Header.cshtml" />
	
	<title>@(ViewBag.Title != null ? ViewBag.Title + " - " + Str.AppName : Str.AppName)</title>

	@RenderSection("Styles", false)
</head>
<body>
	<partial name="_NavBar.cshtml" />

	<div id="page-wrapper">
		<h1 class="page-header">@(ViewBag.Title ?? Str.AppName)</h1>

		@RenderBody()
	</div>

	<partial name="_Footer.cshtml" />

	@RenderSection("Scripts", false)
</body>
</html>
