<div id="sidebar-fake-bg" class="sidebar-fake-bg @(ViewBag.FullScreen == true ? " hidden" : "" )"></div>
<nav class="navbar navbar-default navbar-static-top nav-shadow @(ViewBag.FullScreen == true ? " hidden" : "" )" role="navigation" style="margin-bottom: 0">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="sr-only">Alternar menu</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="~/"><img alt="Logo" src="~/images/logo-header.png" /></a>
	</div>

	<ul class="nav navbar-top-links navbar-right">
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
				<img class="profile-img" alt="Perfil" src="~/images/user.png" width="40" height="40" />@(ViewBag.LoggedUser.FullName) <i class="fa fa-caret-down"></i>
			</a>
			<ul class="dropdown-menu dropdown-user">
				<li>
					<a href="@Url.Action("Profile", "Home")"><i class="fa fa-user fa-fw"></i>Meu Perfil</a>
				</li>
				<li class="divider"></li>
				<li>
					<a href="@Url.Action("Logout", "Home")"><i class="fa fa-sign-out fa-fw"></i>Logout</a>
				</li>
			</ul>
		</li>
	</ul>

	<div id="sidebar" class="sidebar" role="navigation">
		<div id="navbar-collapse" class="sidebar-nav navbar-collapse collapse">
			<ul class="nav" id="side-menu">
				@{
					bool found = false;
					string url = "";
				}
				<li class="sidebar-spacer"></li>
				<li>
					<a href="~/" class="active"><i class="fa fa-dashboard fa-fw"></i>Dashboard</a>
				</li>

				<li class="sidebar-spacer"></li>

				@{
					User loggedUser = ViewBag.LoggedUser;
					List<Menu> profilesMenu = Menu.GetCachedMenusByProfileId(loggedUser.ProfileId);
					int profilesMenuCount = (profilesMenu == null ? 0 : profilesMenu.Count);

					for (int i = 0; i < profilesMenuCount; i++) {
						Menu menu = profilesMenu[i];
						List<Menu> subMenus = menu.SubMenus;
						int subMenusCount = (subMenus == null ? 0 : subMenus.Count);
						int selectedSub = -1;
						if (!found) {
							for (int j = 0; j < subMenusCount; j++) {
								Menu sub = subMenus[j];
								if (url.StartsWith(sub.Link)) {
									selectedSub = j;
									found = true;
									break;
								}
							}
						}
						if (menu.Spacer) {
							<li class="sidebar-spacer"></li>
						} else {
							<li @((selectedSub >= 0) ? "class=\"active\"" : "")>
								<a href="#"><i class="<%=menu.IconClass %>"></i>@menu.Text<span class="fa arrow"></span></a>
								<ul class="nav nav-second-level collapse@((selectedSub >= 0) ? " in" : "")">
									@for (int j = 0; j < subMenusCount; j++) {
										Menu sub = subMenus[j];
										<li>
											<a href="@sub.Link" @sub.ExtraAttributes @((selectedSub == j) ? "class=\"active\"" : "")><i class="@sub.IconClass"></i>@sub.Text</a>
										</li>
									}
								</ul>
							</li>
						}
					}
				}
			</ul>
		</div>
	</div>
</nav>
