@model Profile
@{
	ViewBag.Title = (Model == null ? Str.CreateProfile : Str.EditProfile);
}

<div class="modal fade" tabindex="-1" role="dialog" id="modalDelete">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="@Str.Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">@Str.Oops</h4>
			</div>
			<div class="modal-body">
				<p class="no-margin-bottom">@Str.DoYouReallyWantToDeleteTheProfile @Str.ThisOperationCannotBeUndone</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" onclick="deleteItem(true)"><i class="fa fa-check"></i>@Str.Delete</button>
				<button type="button" class="btn btn-outline btn-default" data-dismiss="modal"><i class="fa fa-times"></i>@Str.Cancel</button>
			</div>
		</div>
	</div>
</div>

<form class="panel panel-default" action="." method="post" id="form">
	<div class="panel-heading clearfix">
		<div class="pull-left">
			@Str.ProfilesBasicInformation
		</div>
		@if (Model != null && ViewBag.ProfileDelete == true) {
			<div class="pull-right">
				<button type="button" class="btn btn-outline btn-danger btn-xs" onclick="deleteItem(false)"><i class="fa fa-times"></i>@Str.Delete</button>
			</div>
		}
	</div>
	<div class="panel-body no-bottom">
		@if (Model != null) {
			<div class="form-group text-right">
				<span class="label label-default">Id @Model.Id</span>
			</div>
		}
		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<label for="nameEn">@Str.Name (@Str.English)</label>
					<input id="nameEn" name="nameEn" maxlength="64" class="form-control upper" type="text" value="@(Model == null ? "" : Model.Name.ValueEn)" />
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<label for="namePtBr">@Str.Name (@Str.Portuguese)</label>
					<input id="namePtBr" name="namePtBr" maxlength="64" class="form-control upper" type="text" value="@(Model == null ? "" : Model.Name.ValuePtBr)" />
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">@Str.Permissions</div>
			<div class="panel-body">
				<div class="form-group">
					<button type="button" class="btn btn-outline btn-default btn-sm" onclick="checkAll(true)"><i class="fa fa14 fa-check-square-o"></i>@Str._Todas</button>
					<div class="pull-right">
						<button type="button" class="btn btn-outline btn-default btn-sm" onclick="checkAll(false)"><i class="fa fa14 fa-minus-square-o"></i>@Str._Nenhuma</button>
					</div>
				</div>
				<div class="table-responsive">
					<table class="table table-striped table-hover no-margin-bottom">
						<tbody>
							@foreach (KeyValuePair<int, string> f in DocumentManager.Models.Profile.GetAllFeatures()) {
								bool ok = (Model != null && Model.Features.Contains(f.Key));
								<tr data-id="@f.Key" @Html.Raw(ok ? "class=\"included-row\" style=\"background: #b8f7b8\"" : "")>
									<td class="clickable col-min">
										<input type="checkbox" id="chk@(f.Key)" aria-label="@f.Value" @(ok ? "checked=\"checked\"" : "") />
									</td>
									<td class="clickable col-max">@f.Value</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="panel-footer">
		<input value="@(Model == null ? Str.CreateProfile : Str.SaveChanges)" class="btn btn-primary btn-lg btn-block" type="submit" />
	</div>
</form>

@section Scripts {
	<script type="text/javascript">
		//<![CDATA[
		"use strict";

		function deleteItem(confirmed) {
			if (JsonWebApi.active)
				return;

			Notification.hide();

			if (!confirmed) {
				$("#modalDelete").modal({
					backdrop: true,
					keyboard: true
				});
			} else {
				$("#modalDelete").modal("hide");

				Notification.wait();

				JsonWebApi.get("@Url.Action("Delete")", function (response) {
					if (response.success)
						window.location.href = "@Url.Action("Manage")";
					else
						Notification.error(response.value, true);
				}, "id", "@(Model == null ? 0 : Model.Id)");
			}
		}

		function adjustRow(chk) {
			selectRow(chk.parentNode.parentNode, chk.checked);
		}

		function checkAll(checked) {
			if (JsonWebApi.active)
				return;

			var i, chk;
			for (i = @((int)DocumentManager.Models.Feature.Min); i <= @((int)DocumentManager.Models.Feature.Max); i++) {
				if (!(chk = _("chk" + i)))
					continue;
				chk.checked = checked;
				adjustRow(chk);
			}
		}

		(function () {
			function toggleCheck(e) {
				if (e.target.tagName === "INPUT") {
					adjustRow(e.target);
					return;
				}
				var chk;
				if (!(chk = _("chk" + this.getAttribute("data-id"))))
					return;
				chk.checked = !chk.checked;
				adjustRow(chk);
			}

			var i, chk;
			for (i = @((int)DocumentManager.Models.Feature.Min); i <= @((int)DocumentManager.Models.Feature.Max); i++) {
				if (!(chk = _("chk" + i)))
					continue;
				chk.parentNode.parentNode.onclick = toggleCheck;
			}
		})();

		$("#form").validate({
			rules: {
				nameEn: {
					maxlength: 64,
					required: true
				},
				namePtBr: {
					maxlength: 64,
					required: true
				}
			},
			submitHandler: function (form) {
				if (JsonWebApi.active)
					return;

				var nameEn = _("nameEn").value, namePtBr = _("namePtBr").value, i, chk, features = [];

				for (i = @((int)DocumentManager.Models.Feature.Min); i <= @((int)DocumentManager.Models.Feature.Max); i++) {
					if (!(chk = _("chk" + i)))
						continue;
					if (chk.checked)
						features.push(i);
				}

				Notification.wait();

				@if (Model == null) {
					<text>
					JsonWebApi.post("@Url.Action("Create")", features, function (response) {
						if (response.success) {
							resetForm(form);
							checkAll(false);
							Notification.success("@Html.Raw(Str.ProfileSuccessfullyCreated)");
						} else {
							Notification.error(response.value, true);
						}
					}, "nameEn", nameEn, "namePtBr", namePtBr);
					</text>
				} else {
					<text>
					JsonWebApi.post("@Url.Action("Update")", features, function (response) {
						if (response.success)
							Notification.success("@Html.Raw(Str.ProfileSuccessfullyChanged)");
						else
							Notification.error(response.value, true);
					}, "id", "@Model.Id", "nameEn", nameEn, "namePtBr", namePtBr);
					</text>
				}
			}
		});

		//]]>
	</script>
}
