@{
	Layout = "_LayoutExternal";
}

@section Styles {
	<style type="text/css">
		.panel-heading img {
			width: 100%;
			max-width: 300px;
		}
	</style>
}

<form method="post" action="~/Home/Login">
	<div style="max-width: 400px; margin: 5% auto; padding: 15px;">
		<div class="panel @(ViewBag.Message != null ? "panel-danger" : "panel-default")">
			<div class="panel-heading">
				<div class="text-center">
					<img alt="Logo" src="~/images/logo-main.png" />
				</div>
			</div>
			<div class="panel-body">
				<div class="form-group">
					<label for="userName">@Str.UserName</label>
					<input name="userName" type="text" id="userName" class="form-control text-uppercase" spellcheck="false" />
				</div>
				<div class="form-group">
					<label for="password">@Str.Password</label>
					<input name="password" type="password" id="password" class="form-control" />
				</div>
				@if (ViewBag.Message != null) {
					<div id="lblMessage" class="alert alert-danger no-margin-bottom">@ViewBag.Message</div>
				}
			</div>
			<div class="panel-footer">
				<input type="submit" value="@Str.Login" class="btn btn-primary btn-lg btn-block" />
			</div>
		</div>
	</div>
</form>
