@model User
@{
	ViewBag.Title = Str.MyProfile;
}

<form class="row" action="." method="post" id="form">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading clearfix">
				<div class="pull-left">
					@Str.EditProfile
				</div>
			</div>
			<div class="panel-body no-bottom">
				<div class="form-group">
					<label for="fullName">@Str.FullName</label>
					<input id="fullName" name="fullName" maxlength="64" class="form-control upper" type="text" spellcheck="false" value="@ViewBag.LoggedUser.FullName" />
				</div>
				<div class="form-group">
					<label for="languageId">@Str.Language</label>
					<select id="languageId" name="languageId" size="1" class="form-control upper" type="text">
						<option value="@Str.LanguageEn" selected="@(ViewBag.LoggedUser.LanguageId == Str.LanguageEn)">@Str.English</option>
						<option value="@Str.LanguagePtBr" selected="@(ViewBag.LoggedUser.LanguageId == Str.LanguagePtBr)">@Str.Portuguese</option>
					</select>
				</div>
				<div class="form-group">
					<label for="picture">@Str.NewProfileImage <small>(@Str.UpTo1MiB)</small></label>
					<input id="picture" name="picture" class="form-control" type="file" accept="image/jpeg" />
				</div>
				<div class="divider-body"></div>
				<p>@Str.InOrderToChangeCurrentPassword</p>
				<div id="currentPass" class="form-group">
					<label for="password">@Str.CurrentPassword</label>
					<input id="password" name="password" maxlength="20" class="form-control upper" type="password" />
				</div>
				<div class="form-group">
					<label for="newPassword">@Str.NewPassword</label>
					<input id="newPassword" name="newPassword" maxlength="20" class="form-control upper" type="password" />
				</div>
				<div class="form-group">
					<label for="newPassword2">@Str.ConfirmNewPassword</label>
					<input id="newPassword2" name="newPassword2" maxlength="20" class="form-control upper" type="password" />
				</div>
			</div>
			<div class="panel-footer">
				<input value="@Str.SaveChanges" class="btn btn-primary btn-lg btn-block" type="submit" />
			</div>
		</div>
	</div>
</form>

@section Scripts {
	<script type="text/javascript">
		//<![CDATA[
		"use strict";

		// Special methods for files :)
		$.validator.addMethod("advancedFileSupport", function (value, element, param) {
			return (window.File && window.FileReader && window.FormData);
		}, $.validator.format("@Str.YourBrowserDoesNotSupportAdvancedFileHandling"));

		$.validator.addMethod("maxFileLengthKiB", function (value, element, param) {
			if (!element.files)
				return false;
			return (!value.length || !element.files.length || !element.files[0] || element.files[0].size <= (param << 10));
		}, $.validator.format("@Str.TheFileSizeMustBeAtMost"));

		$.validator.addMethod("fileExtension", function (value, element, param) {
			if (!element.files)
				return false;
			// Do not use str.endsWith() because a few browsers don't support it...
			return (!value.length || !element.files.length || !element.files[0] || endsWith(element.files[0].name.toLowerCase(), param));
		}, $.validator.format("@Str.TheFileExtensionMustBe"));

		var isSavingProfile = false;

		$("#form").validate({
			rules: {
				fullName: {
					minlength: 3,
					maxlength: 64,
					required: true
				},
				languageId: {
					required: true
				},
				picture: {
					advancedFileSupport: true,
					maxFileLengthKiB: 1024,
					fileExtension: ".jpg"
				},
				password: {
					required: function () {
						return !!(_("newPassword").value) || !!(_("newPassword2").value);
					},
					maxlength: 20,
				},
				newPassword: {
					required: function () {
						return !!(_("password").value) || !!(_("newPassword2").value);
					},
					minlength: 4,
					maxlength: 20
				},
				newPassword2: {
					required: function () {
						return !!(_("password").value) || !!(_("newPassword").value);
					},
					minlength: 4,
					maxlength: 20,
					equalTo: "#newPassword"
				}
			},
			submitHandler: function (form) {
				if (JsonWebApi.active || isSavingProfile)
					return;

				var fullName = _("fullName").value,
					languageId = parseInt(_("languageId").value),
					password = _("password").value,
					newPassword = _("newPassword").value,
					newPassword2 = _("newPassword2").value,
					picture = _("picture"),
					file = (picture.files && picture.files[0]), lastStep, reader;

				Notification.wait();

				isSavingProfile = true;

				lastStep = function (picture) {
					JsonWebApi.post("@Url.Action("EditProfile")", picture, function (response) {
						isSavingProfile = false;

						if (response.success) {
							_("password").value = "";
							_("newPassword").value = "";
							_("newPassword2").value = "";
							_("picture").value = "";
							Notification.success("@Html.Raw(Str.ProfileSuccessfullyChanged)");
						} else {
							Notification.error(response.value, true);
						}
					}, "fullName", fullName, "languageId", languageId, "password", password, "newPassword", newPassword, "newPassword2", newPassword2);
				};

				if (file) {
					reader = new FileReader();
					reader.onload = function () {
						lastStep(reader.result);
					};
					reader.onerror = function (error) {
						isSavingProfile = false;
						Notification.error("@Str.AnErrorOccurredWhileReadingTheImage" + error);
					};
					reader.readAsDataURL(file);
				} else {
					lastStep(null);
				}
			}
		});

		//]]>
	</script>
}
