@model DocumentType[]
@{
	ViewBag.Title = Str.DocumentTypes;
}

<div class="panel panel-default">
	<div class="panel-body dataTable_wrapper">
		<table class="table table-striped table-hover table-row-pointer" id="dataTableMain"></table>
	</div>
</div>

@section Scripts {
	<script type="text/javascript">
		//<![CDATA[
		"use strict";

		window.dataTableMain = prepareDataTable("dataTableMain", {
			order: [[0, "asc"]],
			columns: [
				{ title: "@Str.Name (@Str.English)", "class": "col-50", render: encode, data: "name.valueEn" },
				{ title: "@Str.Name (@Str.Portuguese)", "class": "col-50", render: encode, data: "name.valuePtBr" },
				@if (ViewBag.DocumentTypeEdit == true) {
				<text>
				{ title: " ", "class": "col-min", data: null, searchable: false, orderable: false, render: function (v, type, row) { return "<a target=\"_blank\" title=\"@Str.Edit\" href=\"@(Url.Action("Edit"))?id=" + row.id + "\" class=\"btn btn-outline btn-primary\"><i class=\"fa fa-nomargin fa-edit\"></i></a>"; } },
				</text>
				} else {
				<text>
				{ title: " ", "class": "col-min", data: null, searchable: false, orderable: false, render: function (v, type, row) { return ""; } },
				</text>
				}
			],
			data: @Json.Serialize(Model),
			deferRender: true,
			export: { title: "@Str.DocumentTypes" }
		});
		prepareDataTableMain();

		//]]>
	</script>
}
